.section {
    width: 100%;
    height: 97vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 9vw;
}

.containerGraphic,
.containerValue {
    height: 100%;
    display: flex;
    align-items: center;
}

.cardGraphic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonGraphic {
    display: flex;
    width: 400px;
    justify-content: center;
    gap: 20px;
}

.cardValue {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.number {
    display: flex;
    flex-direction: column;
}

.number .span {
    font-size: 27px;
    margin-left: 5px;

}

.span+span {
    font-size: 100px;
    font-weight: bold;
}

.iconPlus {
    color: white;
    margin-left: 5px;
    font-size: 50px;
    border-radius: 7px;
    transition: var(--trsTrf), var(--trsBck);
}

.iconPlus:hover{
    background-color: var(--eftHvrTrp);
    cursor: pointer;
}

.iconPlus:active{
    transform: scale(0.9);
}