.containerShowIcome {
    width: 100%;
    min-height: 80vh;
    margin-top: 75px;
    display: flex;
}

.sectionAddIcome {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.containerAddIcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}

.showIcome {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 2px 2px black;
    height: 10vw;
    width: 100%;
}

.cardShowIcome {
    display: flex;
    flex-direction: column;
}

.cardShowIcome .spanName {
    font-size: 20px;
    color: white;
    margin-left: 6px;
}

.cardShowIcome .spanName+span {
    font-size: 60px;
    font-weight: bold;
}

.green {
    color: rgb(110, 231, 110);
}

.red {
    color: rgb(255, 54, 54);
}

.listIcome {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 28vw;
    box-shadow: 0px 2px 2px 2px black;
    margin-top: 15px;
    width: 100%;
    overflow-y: auto;
}

.listAddIcome {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-direction: column;
    width: 100%;
    height: 23vw;
    border: var(--border);
}

.buttonListAdd {
    width: 100%;
    margin-top: 5px;
    height: 4.4vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.listAddIcome::-webkit-scrollbar {
    width: 0;
}

.iconPlus {
    font-size: 35px;
    margin-right: 10px;

}