.containerShowIcome{
    width: 100%;
    min-height: 90vh;
    border: var(--border);
    margin-top: 75px;
    display: flex;
}

.sectionAddIcome{
    border: var(--border);
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.containerAddIcome{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vw;
    border: var(--border);
}

.showIcome{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardShowIcome{
    display: flex;
    flex-direction: column;
}

.cardShowIcome .spanName{
    font-size: 20px;
    color: white;
    margin-left: 6px;
}

.cardShowIcome .spanName + span{
    font-size: 60px;
    font-weight: bold;
}

.green{
    color: rgb(110, 231, 110);
}

.red{
    color: rgb(255, 54, 54);
}