.container{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.342);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.none{
    display: none !important;
}

.opacity{
    opacity: 0;
}

.containerPopUp{
    width: 30vw;
    padding: 40px;
    background-color: #595959;
    border-radius: 30px;
}

.cardPopUp{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

