.container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.342);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.none {
    display: none !important;
}

.opacity {
    opacity: 0;
}

.containerPopUp {
    width: 30vw;
    padding: 40px;
    background-color: #595959;
    border-radius: 30px;
    position: relative;
}

.cardPopUp {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.saleSpent {
    display: flex;
    flex-direction: column;
}

.saleSpent span {
    color: white;
    font-weight: bold;
}

.saleSpent>span {
    font-size: 20px;
    margin-left: 4px;

}

.saleSpent .valueFont {
    margin-top: -10px;
}

.saleSpent .valueFont span {
    font-size: 80px;
    margin-right: 10px;
}

.titleCategoria {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 4px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-top: -10px;
}

.form{
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 5px;
}

.form label{
    width: fit-content;
    display: flex;
    gap: 4px;
}

.form label input{
    background-color: transparent;
}

.arrowIcon {
    color: #3ab914ff;
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    transition: var(--trsBck), var(--trsTrf);
    font-size: 20px;
    border-radius: 5px;
}

.iconPincel {
    transition: var(--trsBck), var(--trsTrf), color 0.3s ease;
    border-radius: 5px;
    cursor: pointer;
}

.iconPincel:hover,
.arrowIcon:hover {
    background-color: #7e7e7e;
}

.iconPincel:active,
.arrowIcon:active {
    transform: scale(0.9);
}