.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 2vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 400px;
    background-color: #383f37;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
}

.card span {
    font-size: 30px;
    font-weight: bold;
}

.acardInput, .bcardInput{
    position: relative;
}

.card input {
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 7px;
    background-color: transparent;
    color: white;
    transition: border 0.2s ease;
    width: 16vw;
    font-size: 17px;
}

.card label{
    position: absolute;
    z-index: 999;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    transition: var(--trsTrf), color 0.2s ease, font-size 0.3s ease;
    background-color: #383f37;
    padding: 1px 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}

.card input:focus + label{
    transform: translateY(-160%);
    color: #31A010;
    font-size: 15px;
}

.card input:focus {
    outline: none;
    border-color: #31A010;
}