:root {
  --border: 1px solid red;
  --trsBck: background-color 0.3s ease;
  --trsTrf: transform 0.2s ease;
  --eftHvrTrp: #bbbbbb63;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', Arial, Helvetica, sans-serif;
}

main,
html,
#root {
  min-height: 100%;
  width: 100%;
  background-color: #18241A;
}

a {
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: none;
}

.iconPlus {
  color: white;
  margin-left: 5px;
  font-size: 50px;
  border-radius: 7px;
  transition: var(--trsTrf), var(--trsBck);
}

.iconPlus:hover {
  background-color: var(--eftHvrTrp);
  cursor: pointer;
}

.iconPlus:active {
  transform: scale(0.9);
}