:root {
  --border: 1px solid red;
  --trsBck: background-color 0.3s ease;
  --trsTrf: transform 0.2s ease;
  --eftHvrTrp: #bbbbbb63;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', Arial, Helvetica, sans-serif;
}

main,
html,
#root {
  min-height: 100%;
  width: 100%;
  background-color: #18241A;
}

a{
  text-decoration: none;
}

