.container {
    padding: 3vh 0px;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b4b31;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 2px;
    position: relative;
}

.card {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.data, .value{
    display: flex;
    flex-direction: column;
    color: white;
}

.data{
    gap: 3px;
}

.data .titleData, .value .numValue{
    font-weight: bold;
}

.data .titleData{
    font-size: 20px;
}

.data .fontData, .value .titleValue{
    font-size: 22px;
    font-weight: 250;
}

.value .numValue{
    font-size: 80px;
}

.icon {
    position: absolute;
    border-radius: 5px;
    right: 9px;
    top: 9px;
    color: white;
    padding: 3px;
    font-size: 30px;
    cursor: pointer;
    transition: var(--trsTrf), var(--trsBck);
}

.icon:hover {
    background-color: rgba(102, 117, 97, 0.589);
}

.icon:active {
    transform: scale(0.9);
}